<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/ckeditor.js"></script>
</head>
<body>
    <h1>content</h1><br/>
{{Content.title}}<br/>
{{{Content.content}}}<br/>
<hr/>
<a href="/editor/{{Content.id}}">게시글 수정</a>
<span>&nbsp;</span>
<a href="/delete/{{Content.id}}">게시글 삭제</a><br/>
</body>
</html>