<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/ckeditor.js"></script>
    <style>
        .ck-editor__editable:not(.ck-editor__nested-editable) {

            height: 450px;
        }
        html {

            word-break : break-all;
        }
    </style>
</head>
<body>


    <form action="/save{{#data}}/{{data.id}}{{/data}}" method="POST">
        <input name="title" type="text" placeholder="제목" {{#data}} value="{{data.title}}" {{/data}} {{^data}}value=""{{/data}}/><br>
        <textarea name="content" id="content">{{#data}}{{data.content}}{{/data}}</textarea><br>
        <input type="submit" value="등록">
    </form>
<script>

    ClassicEditor.create( document.querySelector( '#content' ), {

        language: "ko",
        ckfinder:{
            uploadUrl:"/image/upload",
            withCredentials: true
        }
    } );

</script>

</body>
</html>
