<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/ckeditor.js"></script>
</head>
<body>
<form action="/save" method="POST">
    <input name="title" type="text" placeholder="제목"/><br>
    <textarea name="content" id="content"></textarea><br>
    <input type="submit" value="등록">
</form>
<script>

    ClassicEditor.create( document.querySelector( '#content' ), {

        language: "ko"
    } );

</script>
</body>
</html>